@import './var.less';

.borderDir(@dir, @width: @border-width, @color: @border-color) {
  border-@{dir}: @width solid @color;
}
.border(@color: @border-color, @width: @border-width) {
  border: @width solid @color;
}
.border-top(@color: @border-color, @width: @border-width) {
  .borderDir(top, @width, @color);
}
.border-bottom(@color: @border-color, @width: @border-width) {
  .borderDir(bottom, @width, @color);
}
.border-left(@color: @border-color, @width: @border-width) {
  .borderDir(left, @width, @color);
}
.border-right(@color: @border-color, @width: @border-width) {
  .borderDir(right, @width, @color);
}

.radius(@radius: @radius-md, @overflow: hidden) {
  border-radius: @radius;
  overflow: @overflow;
}
.radius-circle(@overflow: hidden) {
  .radius(@radius-circle, @overflow);
}
.radius-round(@overflow: hidden) {
  .radius(@radius-round, @overflow);
}

.border-build() {
  .border-left {
    .border-left();
  }
  .border-right {
    .border-right();
  }
  .border-top {
    .border-top();
  }
  .border-bottom {
    .border-bottom();
  }
  .border {
    .border();
  }
  .radius {
    .radius();
  }
  .radius-circle {
    .radius-circle();
  }
  .radius-round {
    .radius-round();
  }
}
