.input-file(@children: @input-file-children) {
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  .loop(@children, 0);
  .loop(@arr, @index: 0) when (@index < length(@arr)) {
    @item: extract(@arr, @index + 1);
    & > @{item} {
      position: absolute;
      left: -999em;
    }
    .loop(@arr, @index + 1);
  }
}

.pure() {
  .reset();
}

.form-build() {
  label.input-file {
    .input-file();
  }
  .pure {
    .pure();
  }
}
