@import './var.less';

/* 两边间隙 */
.margin(@n: @row-gap) {
  margin: @n;
}
.margin-row(@n: @row-gap) {
  margin-left: @n;
  margin-right: @n;
}
.margin-col(@n: @row-gap) {
  margin-top: @n;
  margin-bottom: @n;
}

/* 两边间隙 */
.padding(@n: @row-gap) {
  padding: @n;
}
.padding-row(@n: @row-gap) {
  padding-left: @n;
  padding-right: @n;
}
.padding-col(@n: @row-gap) {
  padding-top: @n;
  padding-bottom: @n;
}

/* 其他间隙 */
.margin-center() {
  .margin-row(auto);
}

/* 子级间隙 */
.child-gap-right(@n: @child-gap, @children: @child-gap-children, @not: @child-gap-children-not) {
  .loop(@children, 0);
  .loop(@arr, @index: 0) when (@index < length(@arr)) {
    @item: extract(@arr, @index + 1);
    .child-map({
      margin-right: @n;
    }, @item, @not);
    .loop(@arr, @index + 1);
  }
}
.child-gap-bottom(@n: @child-gap, @children: @child-gap-children, @not: @child-gap-children-not) {
  .loop(@children, 0);
  .loop(@arr, @index: 0) when (@index < length(@arr)) {
    @item: extract(@arr, @index + 1);
    .child-map({
      margin-bottom: @n;
    }, @item, @not);
    .loop(@arr, @index + 1);
  }
}

/* 导出结果 */
.gap-build() {
  .margin-dir-loop(@dir:right, @n, @i:1) when (@i <= @n) {
    @gap: @i * 5;
    .margin-@{dir}-@{gap} {
      margin-@{dir}: @gap * @px;
    }
    .margin-dir-loop(@dir, @n, (@i + 1));
  }
  .margin-dir-loop(left, 10);
  .margin-dir-loop(right, 10);
  .margin-dir-loop(top, 10);
  .margin-dir-loop(bottom, 10);

  .padding-dir-loop(@dir:right, @n, @i:1) when (@i <= @n) {
    @gap: @i * 5;
    .padding-@{dir}-@{gap} {
      padding-@{dir}: @gap * @px;
    }
    .padding-dir-loop(@dir, @n, (@i + 1));
  }
  .padding-dir-loop(left, 10);
  .padding-dir-loop(right, 10);
  .padding-dir-loop(top, 10);
  .padding-dir-loop(bottom, 10);

  .child-gap-loop(@dir: right, @n, @i: 1) when (@i <= @n) {
    @gap: @i * 5;
    .gap-@{dir}-@{gap} {
      .if(@_dir) when (@_dir = right) {
        .child-gap-right(@gap * @px);
      }
      .if(@_dir) when (@_dir = bottom) {
        .child-gap-bottom(@gap * @px);
      }
      .if(@dir);
    }
    .child-gap-loop(@dir, @n, (@i + 1));
  }
  .child-gap-loop(right, 10);
  .child-gap-loop(bottom, 10);

  .margin-center {
    .margin-center();
  }
}
