.cover(@type: absolute) {
  position: @type;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.fit-cover(@fit: cover) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: @fit;
}
.pos-center(@type: absolute) {
  position: @type;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.pos-bottom(@type: absolute) {
  position: @type;
  left: 0;
  right: 0;
  bottom: 0;
}
.pos-top(@type: absolute) {
  position: @type;
  top: 0;
  left: 0;
  right: 0;
}
.pos-left(@type: absolute) {
  position: @type;
  top: 0;
  left: 0;
  bottom: 0;
}
.pos-right(@type: absolute) {
  position: @type;
  top: 0;
  right: 0;
  bottom: 0;
}

.pos-top-left(@type: absolute, @offset: 0) {
  position: @type;
  top: @offset;
  left: @offset;
}
.pos-top-right(@type: absolute, @offset: 0) {
  position: @type;
  top: @offset;
  right: @offset;
}
.pos-bottom-left(@type: absolute, @offset: 0) {
  position: @type;
  bottom: @offset;
  left: @offset;
}
.pos-bottom-right(@type: absolute, @offset: 0) {
  position: @type;
  bottom: @offset;
  right: @offset;
}

.pos-hide() {
  position: absolute;
  left: -9999em;
}

.position-build() {
  .relative {
    position: relative;
  }
  .absolute {
    position: absolute;
  }
  .fixed {
    position: fixed;
  }
  .sticky {
    position: sticky;
  }
  .cover {
    .cover();
  }
  .fit-cover {
    .fit-cover();
  }
  .pos-center {
    .pos-center();
  }
  .pos-top {
    .pos-top();
  }
  .pos-bottom {
    .pos-bottom();
  }
  .pos-left {
    .pos-left();
  }
  .pos-right {
    .pos-right();
  }
  .fixed-center {
    .pos-center(fixed);
  }
  .fixed-top {
    .pos-top(fixed);
  }
  .fixed-bottom {
    .pos-bottom(fixed);
  }
  .fixed-left {
    .pos-left(fixed);
  }
  .fixed-right {
    .pos-right(fixed);
  }
  .pos-hide {
    .pos-hide();
  }
}
